body{
    background: rgb(2,0,36);
    background: linear-gradient(14deg, rgba(2,0,36,1) 0%, rgba(80,9,121,1) 41%, rgba(0,212,255,1) 100%);
}
.div-btn{
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    position: absolute;
}
.btn{
    border: none;
    background-color: darkslategray;
    color: white;
    width: 150px;
    height: 100px;
}